.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right,
    map-get($palette, dark),
    map-get($palette, green)
  );
}

nav.bg-light {
  background-color: map-get($palette, dark) !important;
}

button.navbar-toggler {
  &:focus {
    outline: none;
  }
}

.slogan {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: map-get($margins, doble);

  &--title {
    margin: map-get($margins, doble);
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .slogan {
    &--title {
      font-size: 3rem;
    }
    &--subtitle {
      font-size: 2rem;
    }
  }
}
